<!DOCTYPE html>
<html lang="en" style="background:url('/images/home.jpg'); background-size: cover; background-position: center;
background-repeat: no-repeat;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="/css/teacher.css">
</head>
<body>

<div class="dev">
    <h1>Welcome To Padhai Crow</h1>
    <ul>
        <a href="/teacher/login">
            <li>Login as Teacher</li>
        </a>
        <a href="/studentLogin">
            <li> Login as Student</li>
        </a>
        <a href="/schoolLogin">
            <li>Login as School</li>
        </a>
    </ul>

</div>

</body>
</html>


